*.o
*.lo
*.debhelper
*.dirstamp

# OS X
.DS_Store

# Thumbnails
._*

# Xcode
build/
project.xcworkspace/
xcuserdata/

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
libtool
m4/
monit
monit.1
src/config.h
src/config.h.in
src/lex.yy.c
src/stamp-h1
src/tokens.h
src/y.output
src/y.tab.c
system/startup/monit.service
system/startup/monit.upstart

libmonit/src/xconfig.h.in~
src/config.h.in~

