# OS X
.DS_Store

# Thumbnails
._*

# Xcode
build/
project.xcworkspace/
xcuserdata/

config/
libmonit/
src/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
debian/clearwater-monit.debhelper.log
debian/clearwater-monit.postinst.debhelper
debian/clearwater-monit.preinst.debhelper
debian/clearwater-monit.prerm.debhelper
debian/clearwater-monit.substvars
debian/clearwater-monit/
debian/files
libtool
m4/
monit
monit.1
system/startup/monit.service
system/startup/monit.upstart
